@page "/agent/create"
@inject HttpClient http
@inject NavigationManager uriHelper
@inject CustomStateProvider authStateProvider

<h3>Create</h3>

<Form ButtonText="Create Agent" ag="@ag" OnValidSubmit="@CreateAgent" />

@code {
    Agent ag = new Agent();
    async Task CreateAgent()
    {
        if (authStateProvider._currentUser != null)
            ag.CreatedBy = authStateProvider._currentUser.UserName;

        await http.PostAsJsonAsync("api/agent", ag);
        uriHelper.NavigateTo("agent");
    }
}
